@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --color-primary: #f9f7f7;
  --color-secondary: #dbe2ef;
  --color-accent: #112d4e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #0b090a;
    --color-secondary: #116d6e;
    --color-accent: #cd1818;
  }
}
